//Regular
@font-face {
  font-family: 'TTLakes';
  src: url('../assets/fonts/TTLakes-Regular.ttf');
  font-weight: 400; 
}
//Medium
@font-face {
  font-family: 'TTLakes-medium';
  src: url('../assets/fonts/TTLakes-Medium.ttf');
  font-weight: 500; 
}
//Bold
@font-face {
  font-family: 'TTLakes-bold';
  src: url('../assets/fonts/TTLakes-Bold.ttf');
  font-weight: 700; 
}


