.footer{
  background: $background;
  padding:24px;
  .footer__text{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    p{
      margin-top:16px;
      text-align: center;
      color:$menu-text-color;
    }
    p:first-child{
      width: 218px;
    }
    p:last-child{
      width: 220px;
    }
  }
}

@media (min-width:768px){
  .footer{
    .footer__text{
      flex-direction: row;
      p{
        margin-top: 0;
        text-align: left;
      }
    }
  }
}
@media (min-width:1440px){
  .footer{
    .footer__text{
      flex-direction: row;
      p{
        margin-top: 0;
        text-align: left;
      }
      p:last-child{
        width: 330px;
      }
    }
  }
}