//HEADER
header{
  background: $white;
  padding:19px 0;
  //Header logo & header actions
  .header__logo, .header__actions{
    display: flex;
    align-items: center;
    gap: 16px;

    //logo
    .logo{
      display: flex;
      align-items: center;

      &::after{
        content: "";
        display: block;
        background: #EAEAEA;
        width: 2px;
        height: 32px;
      
        border-radius: 1px;
        margin-left: 16px;
      }
    }
    //Expand icons
    .icons-expand{
      display: none;
    }
  }


  
}

.header .container{
  display: flex;
  align-items: center;
  justify-content:space-between;
}

//Tablet
@media (min-width:768px) {
  header{
    .header__logo, .header__actions{
      .logo::after{
        display: none;
      }
      .logo::before{
        content: "";
        display: block;
        background: #EAEAEA;
        width: 2px;
        height: 32px;
      
        border-radius: 1px;
        margin-right: 16px;
      }
      .icons-expand{
        display: flex;
        gap: 16px;
        align-items: center;

        &::after{
          content: "";
          display: block;
          background: #EAEAEA;
          width: 2px;
          height: 32px;
          border-radius: 1px;
        }
      }
    }
  }
}
@media (min-width:1440px){
  header{
    display: none;
  }
}