.modal-window {
  position: fixed;
  max-width: 440px;
  width: 100%;
  height: 100%;
  right: -100%;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  transition: .2s;
  .window-wrapper {
    background: #fff;
    display: grid;
    border-left: solid 2px #d9fff5;
    grid-template-columns: minmax(320px, 440px);
    box-shadow: 0px -10px 25px #a0a0a0;

    .window {
      display: flex;
      flex-direction: column;

      .window__title {
        color: #1b1c21;
        font-size: 24px;
        font-family: "TTLakes bold";
        font-weight: 700;
        line-height: 32px;
        word-wrap: break-word;
        margin: 40px 0 8px 30px;

        &::before{
          display: block;
          content: " ";
          position: absolute;
          height: 40px;
          width: 3px;
          top: 32px;
          right: 440px;
          background: #41f6d7;
          border-radius: 5px;
        }
      }
      & .feedback-form, .call-form{
        max-width: 376px;
        width: 100%;
        padding:12px;
        margin: 16px auto;
        background: white;
        border-radius: 8px;
        border: 1px #eaeaea solid;
       
        color: #b5b6bc;
        font-size: 16px;
        font-family: "TTLakes medium";
        font-weight: 500;
        line-height: 24px;
        word-wrap: break-word;
      }
 
      .btn-window {
        position: absolute;
        right: 460px;
        top: 32px;
      }
      .window-btn-wrapper {
        display: flex;
        justify-content: flex-end;

        .window-btn {
          display: flex;
          align-items: center;
          font-size: 12px;
          text-transform: uppercase;
          background: $action-btn;
          color:$white;
          border-radius: 24px;
          font-family: 'TTLakes-medium';
          padding:4px 16px;
          margin-right: 32px;
          transition: .2s;

          &:hover{
            background: $action-btn-active;
          }
        }
      }

      .window__text {
        margin: 0 32px 16px 32px;
        color: #7e7e82;
        font-family: "TTLakes medium";
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        word-wrap: break-word;

        .window__text_pink {
          color: #ff3e79;
        }
      }


    }
  }
}





@media screen and (max-width: 540px) {
  .btn-window {
    position: inherit;
    margin-top: 24px;
    margin-left: 16px;
  }
  .window__title::before {
    top: 100px;
    right: 440px;
  }
}
@media screen and (max-width: 400px) {
  .window input {
    width: auto;
    margin: 16px 16px;

  }
}
