//SERVICES
.services{
  background: $background;

  .services__top {
    margin-bottom: 24px;

    .services__title{
      font-size: 28px;
      font-family: 'TTLakes-bold';
      
      &::before{
        content: "";
        display: block;
        border-radius: 5px;
        width: 4px;
        height: 40px;
        background: #41F6D7;
        position: absolute;
        left: 0;
      }
    }

    .services__menu{
      display: none;
      
      .menu-item{
        font-size: 16px;
        font-family: 'TTLakes-medium';
      }
    }

  }


  //Services list
  .scroll-menu{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding-bottom: 10px;

    .scroll-menu__item{
      color: $menu-text-color;
      white-space: nowrap;
      border-radius: 6px;
      padding:8px;
      font-size: 16px;
      font-family: 'TTLakes-medium';
    }
    .scroll-menu__item.selected{
      border:2px solid #B8FFEC;
      background: #fff;
    }
  }

  //Services content 
  .services__content{
    margin-top:24px;
    .content-text{
      .para{
        margin-top: 24px;
        
        &:first-child{
          margin-top: 0;
        }
      }
    }

    //Content image
    .content-image img{
      width: 100%;
    }
  }
}

//Tablet
@media (min-width:768px) {
  .services__content{
    display: flex;
    gap:48px;
    

    .content-image img{
      min-width: 360px;
    }
  }
}

@media (min-width:1440px) {
  .services{
    .services__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .services__menu{
        display: flex;
        align-items: center;
        gap: 32px;
        .menu-item{
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
  
    }

    .scroll-menu{
      overflow-x: inherit;
    }
  }
  .services__content{
    display: flex;
    gap:48px;
    

    .content-image img{
      min-width: 531px;
    }
  }
}